<div class="toolbar-notification-container">
  <button mat-icon-button (click)="isOpen = !isOpen; setChecked()" [ngClass]="[cssPrefix+'-btn']" [class.open]="isOpen">
    <mat-icon>notifications_none</mat-icon>
    <span class="badge" *ngIf="unchecked_notices && unchecked_notices?.length !== 0">{{ unchecked_notices.length }}</span>
  </button>


  <div class="dropdown mat-elevation-z4" [class.open]="isOpen">

    <div class="card">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">
          <div class="name">Notifications</div>
        </div>
      </div>
      <div *ngIf="notifications?.length !== 0; then thenBlock else elseBlock;"></div>

    </div>

  </div>

</div>

<ng-template #thenBlock>
 <perfect-scrollbar class="content">
    <div *ngFor="let notification of notifications; last as isLast">
      <div class="notification" fxLayout="row" fxLayoutAlign="start center" mat-ripple>
        <div class="title" fxLayout="column">
          <div class="name">{{ notification.title }}</div>
          <div class="time">{{ notification.description }}</div>
        </div>
        <span fxFlex></span>
        <button type="button" mat-icon-button (click)="delete(notification)">
          <mat-icon class="close">close</mat-icon>
        </button>
      </div>
      <div class="divider" *ngIf="!isLast"></div>
    </div>
  </perfect-scrollbar>
  <div class="footer" fxLayout="row" fxLayoutAlign="center center">
        <button mat-button type="button" class="action" (click)="deleteAll()">Delete all</button>
  </div>

</ng-template>

<ng-template #elseBlock>
  <div class="no" style="color: rgba(0, 0, 0, 0.22)" fxLayout="row" fxLayoutAlign="center center">Empty</div>
</ng-template>

