<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

      <button *ngIf="is_admin" mat-fab color="primary" (click)="openDialog(null)">Create</button>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" style="width:100%">

    <!-- Position Column -->
    <ng-container matColumnDef="project_name">
      <th mat-header-cell *matHeaderCellDef> Project </th>
      <td mat-cell *matCellDef="let element"> {{element.project_name}} </td>
    </ng-container>

    <ng-container matColumnDef="project_type">
      <th mat-header-cell *matHeaderCellDef> Project Type </th>
      <td mat-cell *matCellDef="let element"> {{element.project_type}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>

      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" style="margin: 1%;" (click)="openDialog(element.id)" [disabled]="!is_admin">Edit</button>
        <button mat-raised-button color="accent" style="margin: 1%;" (click)="deleteProject(element.id)" [disabled]="!is_admin">Delete</button>
        <button mat-raised-button color="warn" style="margin: 1%;" (click)="assignToProject(element.id)" [disabled]="!is_admin">Assign To Project</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>

