<div style="width:80%">

  <h1 class="mat-headline center-align" *ngIf="project_data.project_name">Edit "{{ project_data.project_name }}" information</h1>

  <h1 class="mat-headline center-align" *ngIf="!project_data.project_name">Create Project</h1>

  <form [formGroup]="projectEditForm" (ngSubmit)="save()">
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Project Name" formControlName="project_name">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Project Type" formControlName="project_type" (selectionChange)="changeProjectType($event.value)">
		    				<mat-option *ngFor="let projectType of projectTypes" [value]="projectType.value">
		      								{{ projectType.name }}
		    				</mat-option>
	  					</mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Currency" formControlName="currency" (selectionChange)="changeCurrency($event.value)">
		    				<mat-option *ngFor="let currency of currencies" [value]="currency.name">
		      								{{ currency.name }}
		    				</mat-option>
	  					</mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="projectEditForm.value.project_type === 'FIX_PRICE_PROJECT'">
      <input matInput placeholder="Price" formControlName="basic_price">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Client" formControlName="client" (selectionChange)="changeClient($event.value)">
		    				<mat-option *ngFor="let client of clients" [value]="client.id">
		      								{{ client.name }}
		    				</mat-option>
	  					</mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Deadline" type="date" formControlName="deadline">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Started Date" type="date" formControlName="project_started_date">
    </mat-form-field>




  </div>
  <div>
    <mat-form-field style="width: 100%">
      <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="4" formControlName="project_description"></textarea>
    </mat-form-field>
  </div>

  <button mat-raised-button color="warn" style="margin: 1%" (click)="discard()">Discard</button>
  <button mat-raised-button color="primary" style="margin: 1%" type="submit" [disabled]="!projectEditForm.valid">Save</button>
    <mat-form-field style="margin: 1%; float: right;">
      <input matInput placeholder="All time Money Spent" formControlName="all_time_money_spent">
    </mat-form-field>
</form>

</div>
