<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css">
<button mat-raised-button color="primary" class="vacation-events" (click)="createVacationDialog(null, true)">Create Vacation</button>

<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

<div *ngIf="calendarOptions" style="padding:3%; background-color: white; font-family: Roboto">
  <div *ngFor="let item of checkboxes; let i = index;" style="display: inline-block; margin-right: 2%">
      <mat-checkbox color="primary"  [checked]="item.checked" (change)="onChange($event, i)">
        {{item.label}}
      </mat-checkbox>
  </div>

  <br>
  <br>
  <ng-fullcalendar #ucCalendar [options]="calendarOptions" [(eventsModel)]="events"
                   (eventClick)="eventClick($event.detail)" (eventResize)="updateEvent($event.detail)">

  </ng-fullcalendar>
</div>
</div>
